<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>

  <log4net>

    <root>
      <!-- Log4Net level configuration -->
      <level value="ALL" />
      <!-- Appenders: Where messages are appended -->
      <!-- Appender Declaration -->
      <appender-ref ref="consoleAppender" />
      <appender-ref ref="rollingFileAppender_info" />
      <appender-ref ref="rollingFileAppender_error" />
    </root>

    <!-- Appenders Definition -->
    <appender name="consoleAppender" type="log4Net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%M() - %message%newline" />
      </layout>
    </appender>

    <appender name="rollingFileAppender_info" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="WARN"/>
      </filter>
      <file value="log\" />
      <datePattern value="'batchRISPrivati_'yyyy.MM.dd'.log'" />
      <rollingStyle value="Composite" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%M() - %message%newline" />
      </layout>
    </appender>

    <appender name="rollingFileAppender_error" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
      </filter>
      <file value="log\" />
      <datePattern value="'batchRISPrivati_'yyyy.MM.dd'.err'" />
      <rollingStyle value="Composite" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%M() - %message%newline" />
      </layout>
    </appender>

  </log4net>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="GR" connectionString="Data Source=192.168.0.180;Initial Catalog=GR;User ID=sa;Password=f1254-xcs"/>
    <add name="HLTDesktop" connectionString="Data Source=192.168.0.180;Initial Catalog=HltDesktop;User ID=sa;Password=f1254-xcs"/>
  </connectionStrings>
  
</configuration>